<ul class="comments-list list-unstyled">
  <% comments.each do |comment| %>
      <% if comment.persisted? %>
          <li>
            <%= render comment %>
          </li>
      <% end %>
  <% end %>
</ul>
