<div class="comment">
  <div class="comment-header">
    <%= image_tag(comment.avatar_path, class: 'comment-avatar')%>
  </div>

  <div class="comment-content">
    <%= comment.content %>
  </div>
</div>