<div id='comment-form' class="row">
  <div class="col-sm-3">
    <div class="oval"></div>
  </div>
  <div class="col-sm-6">
    <%= form_for([@article, @article.comments.build]) do |f| %>
        <div class="form-group">
          <%= f.text_area :content, rows: 3, placeholder: 'Share your thoughts...', class: 'form-control' %>
        </div>

        <%= f.submit 'Leave a comment', class: 'btn btn-primary btn-block'%>
    <% end %>
  </div>
  <div class="col-sm-3">
    <div class="oval"></div>
  </div>
</div>
