body[data-controller="articles"][data-action="index"] {

  .intro-header {
    background-image: asset-url('home-bg.jpg');
  }

  .post-preview > a {
    color: #333333;
  }

  .post-preview > a:hover,
  .post-preview > a:focus {
    text-decoration: none;
    color: #0085A1;
  }

  .post-preview > a > .post-title {
    font-size: 30px;
    margin-top: 30px;
    margin-bottom: 10px;
  }

  .post-preview > a > .post-subtitle {
    margin: 0;
    font-weight: 300;
    margin-bottom: 10px;
  }

  .post-preview > .post-meta {
    color: #777777;
    font-size: 18px;
    font-style: italic;
    margin-top: 0;
  }

  .post-preview > .post-meta > a {
    text-decoration: none;
    color: #333333;
  }

  .post-preview > .post-meta > a:hover,
  .post-preview > .post-meta > a:focus {
    color: #0085A1;
    text-decoration: underline;
  }

  @media only screen and (min-width: 768px) {
    .post-preview > a > .post-title {
      font-size: 36px;
    }
  }

  .section-heading {
    font-size: 36px;
    margin-top: 60px;
    font-weight: 700;
  }

  .caption {
    text-align: center;
    font-size: 14px;
    padding: 10px;
    font-style: italic;
    margin: 0;
    display: block;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
  }
}
