<div class="post-preview">
  <%= link_to article_path(article.id) do %>
    <h2 class="post-title"><%= article.title %></h2>
    <h3 class="post-subtitle"><%= article.content.truncate(65) %></h3>
  <% end %>

  <p class="post-meta">Posted by <%= article.blogger.name %> on
    <%= article.created_at.strftime("%d %b. %Y") %>
  </p>
</div>
