<!-- Main Content -->
<div class="container">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">

      <div class="articles-list">
        <% @articles.each do |article| %>
            <%= render article %>
        <% end %>
      </div>

      <%= paginate @articles %>
    </div>
  </div>
</div>
