<div class="container">
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <div class="post-preview">
        <h2 class="post-title text-center"><%= @article.title %></h2>
        <p><%= @article.content.html_safe %></p>
      </div>
      <%= render 'comments/form' %>

      <% if @article.comments.any? %>
          <div class="text-center">
            <h3>Comments (<%= @article.comments.count %>)</h3>
          </div>
          <br/>
          <%= render partial: 'comments/comments_list', locals: { comments: @article.comments} %>
      <% end %>
    </div>
  </div>
</div>
