<div class="container">
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <h1 class="text-center">About</h1>
      <p>
        Owning a personal blog is so valuable nowadays.
        Especially if you are a beginning developer.
        It is good for coding practice, it serves as a resume, it helps learning new technologies.
      </p>

      <p>
        While creating this blog what I really liked the most is planning.
        I planned every single step and wrote all down.
        It is so satisfying (even though I didn't always stick to the plan) to have everything prepared.
      </p>

      <p>
        In this blog I am going to have articles both about my learning progress
        and some real life experiences (or maybe not).
      </p>
    </div>
  </div>
</div>
