<div class="container">
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <h1 class="text-center">Bio</h1>

      <p>
        Hello, my name is FirstName LastName and I am the developer/designer/founder/creator/author...
        <br>
        I can SkillName and also good at SkillName...
      </p>

      <p>That's how most of bios begin, I guess. So lets start.</p>

      <p>
        People usually call me Max (that's my real name actually).
        I am a 21 y.o. Ukrainian student. I study computer science at the Academy of Printing in Lviv, Ukraine.
      </p>

      <p>
        As a child I really enjoyed learning languages
        (watched movies, played video games in English despite the fact I barely understood anything).
        Now I can somehow express thoughts in English (a bit German and Polish).
        I like web development because I always wanted my job to be creative.
        You can implement a feature in many different ways.
        I enjoy making new things and finding new ways to make things work.
      </p>

      <p>
        After reading tons of bios I feel like I need to mention some valuable achievements or experiences.
        So don't forget to water your houseplants (well, this is my very first bio).
        I've got no serious professional experience yet but feel like moved pretty far
        as Ruby on Rails developer while creating this blog and other apps.
      </p>
    </div>
  </div>
</div>
