<h2>Log in</h2>
<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <div class="form-group">
        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
            <%= f.label :email %><br />
            <%= f.email_field :email, autofocus: true, class: "form-control"%>

            <%= f.label :password %><br />
            <%= f.password_field :password, autocomplete: "off", class: "form-control" %>

            <%= f.submit "Log in", class: "btn btn-primary" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
