.comment {
  margin-top: 20px;

  .comment-header {
    line-height: 70px;

    .comment-avatar {
      height: 70px;
      position: absolute;
      width: 70px;
    }
  }

  .comment-content {
    font-size: 17px;
    font-style: italic;
    min-height: 90px;
    margin: 0 100px;
    padding: 10px 0 20px;
  }
}

li:not(:last-child) {
  .comment {
    .comment-content {
      border-bottom: solid 1px rgba(119, 119, 119, .4);
    }
  }
}
