.pagination {
  margin: 20px 0 0;
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 800;
  letter-spacing: 1px;
  padding: 0;
  width: 100%;

  .pagination-link {
    border: 1px solid #eeeeee;
    border-radius: 0;
    background-color: white;

    a {
      padding: 15px 25px;
      display: inline-block
    }

    &:hover, &:focus {
      cursor: pointer;
      background-color: #0085A1;
      border: 1px solid #0085A1;
      a {
        color: white;
        text-decoration: none;
      }
    }
  }

  .prev {
    float: left;
  }

  .next {
    float: right;
  }
}