<!-- Page Header -->
<header class="intro-header">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        <div class="site-heading">
          <h1>Ordinary Mortal's Blog</h1>
          <hr class="small">
          <span class="subheading">Everyday life logs</span>
        </div>
      </div>
    </div>
  </div>
</header>
