<hr/>
<footer>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        <ul class="list-inline text-center">
          <li>
            <%= link_to('https://www.linkedin.com/in/maxym-tesliuk-35a10717a/', title: 'LinkedIn') do %>
              <span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-linkedin fa-stack-1x fa-inverse"></i>
              </span>
            <% end %>
          </li>

          <li>
            <%= link_to('https://www.facebook.com/maxym.tesliuk', title: 'Facebook') do %>
              <span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
              </span>
            <% end %>
          </li>

          <li>
            <%= link_to('https://www.instagram.com/ordinarymortal/', title: 'Instagram') do %>
              <span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-instagram fa-stack-1x fa-inverse"></i>
              </span>
            <% end %>
          </li>

          <li>
            <%= link_to('https://soundcloud.com/user-497787198', title: 'SoundCloud') do %>
              <span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-soundcloud fa-stack-1x fa-inverse"></i>
              </span>
            <% end %>
          </li>
        </ul>

        <p class="copyright text-muted">Copyright &copy; Ordinary Mortal 2019</p>
      </div>
    </div>
  </div>
</footer>
